<footer class="container-fluid bg-light ">
	<div class="row">
		<section class="col">&copy RcCham</section>
		
		<section class="col"> <a class="btn btn-default" href="#" role="button"data-toggle="modal" data-target="#modalConditions" >Nos Conditions</a></section>
		<section class="col">
			<a href="" class="link ">Nous contacter</a>
		</section>
	</div>

	<div class="modal fade" id="modalConditions" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">C G V</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<p>Nos condition générales de vente
									</p>
								
							</div>
						</div>
						<div class="row  col-12 mt-2">

							<p>


								Lorem ipsum dolor sit amet. Qui officia molestiae ad consequatur repellat rem magni accusamus qui mollitia omnis. Et distinctio aperiam ut blanditiis odit est sint voluptatem.
								
								Id dolorem autem et nihil velit non porro molestias est dolor quisquam est harum magni. Est galisum laudantium ut consequatur illum eum labore assumenda et veniam explicabo quo pariatur quisquam ut debitis odio eum aperiam ipsum. Et cupiditate ratione ut earum molestias est expedita voluptatem ut delectus harum.
								
								Eum repudiandae assumenda et tempora corrupti ut quia consequuntur? Eum nostrum quia est voluptatem distinctio At eius autem est galisum voluptatem quo ipsum laborum sit numquam officia 33 provident accusantium. Et amet minus qui magnam cupiditate nam eius harum aut repudiandae magni.

							</p>
							<p>


								Lorem ipsum dolor sit amet. Qui omnis iure hic ipsa distinctio eum explicabo quis eum voluptatem pariatur aut error fugit sed omnis sunt. Sit corporis reprehenderit ad dignissimos dolorem et commodi accusantium est sunt commodi est doloremque delectus qui sunt blanditiis. Qui neque sunt et nihil harum sed sint veritatis. 33 totam nemo cum natus necessitatibus aut assumenda nemo aut galisum saepe et provident nisi aut vitae delectus ea adipisci quasi?
								
								Aut pariatur quisquam sit accusantium galisum sit debitis nesciunt a voluptates nobis et obcaecati magnam? Sit expedita error ut illum molestiae ut aliquid molestiae qui vitae aliquid.
								
								Eum sapiente veniam aut possimus itaque et similique distinctio. Aut iure ipsam est repellat voluptate et quidem distinctio. Ut consectetur delectus sed enim illum in ipsa commodi vel dolorem eveniet. Aut neque saepe in accusantium dolor est animi corporis.

							</p>


						</div>

						<div class="btnSubmit">
							<button type="submit" class="btn btn-tristan validPrice">Valider</button>
						</div>

						
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>
