{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<section class="container my-4">
		<div class="row">
			<div class="col">
				<h1>
					Réinitialisation mot de passe</h1>
				{{ form_start(requestPassForm) }}
				{{form_row(requestPassForm.email)}}
				<button type="submit" class="btn btn-primary my-4">Envoyer</button>
				{{ form_end(requestPassForm) }}
				{# le form coupé en deux pour que le bouton soit actif le form_row pour label avant le btn #}
			</div>
		</div>
	</section>


{% endblock %}
