{% extends "base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags ('codePromo') }}
{% endblock %}

{% block title %}Panier de
	{{ app.user.firstname }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			{% include "/bascket/details.html.twig" %}
		</section>
	</main>
{% endblock %}
