{% extends "base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='my-2'>Administration des produits</h1>
		<div >
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 border border-light bt-white p-2">
			
			
		
			
			</main>
		</div>
	</div>
{% endblock %}