@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$warning: #ff9c00;
$grey2: #aaaaa9;
$yellow: #fdbe0f; // jaune


$black: black;
$darkgrey: #424b58; // bleu
$darkgreylight: adjust-color($darkgrey, $lightness: +15%);
$bronze: #b39672;
$grey: #8d8e91; // gris foncé
$brown: #6e6666;
$lightgrey: #ecedee; // gris clair
$dimbluewhite: #f7fafe;
$dimwhite: #f9f9fa;
$white: #ffffff;
$lightyellow: adjust-color($yellow, $lightness: +8%);
$darkyellow: adjust-color($yellow, $lightness: -8%);
$green: #233d38;
$lightGreen: #39B55C;
$danger: #d61515;
$danger_light: adjust-color($danger, $lightness: +50%);
$warning_light: adjust-color($warning, $lightness: +48%);
$success: #29a807;
$success_light: adjust-color($success, $lightness: +62%);
$info: dodgerblue;
$info_light: adjust-color($info, $lightness: +40%);
$off: #727272;
$silver: #999fac;
$gold: #d1bb67;
$border: 1px solid rgba($yellow, .5);

.card {
    background: $grey2;
}

.bg-ema {
    background: #FDBE0F;
    color: white;
}

.text-clignote {
    animation-duration: 2s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.achat {
    background: #FDBE0F;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 0.2em 0.7em 0.2em 0.7em;
    font-size: 2vh;
}

.delete {
    background: $danger;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 0.2em 0.7em 0.2em 0.7em;
    font-size: 2vh;
}

.details {
    border: #b39672;
    background: #b39672;
    color: white;
    border: solid 5px;
    border-radius: 30px;
    padding: 2em;
    margin: 2em;
    text-decoration: none;
}

.category {
    background: $darkgrey;
    border-radius: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.1em 0px;
    font-size: 2vh;
}

.fixed {
    position: relative;
}

.boutonDetail {
    position: absolute;
    bottom: 0px;
    margin-top: auto;
    display: flex;
    border: #b39672;
    background: #b39672;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 0.2em 0.6em;

}

.card-body {
    display: flex;
    flex-direction: column;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}

footer {
    padding-left: 8px;
    display: table-row;
    vertical-align: middle;
    line-height: 6vh;

}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.bold {
    font-weight: bold;
}

td {
    font-size: 1.2em;
    font-family: 'Lobster', cursive;

}

a:hover,
button:hover {
    background: #424b58;
    color: black;
}

button {
    background: #FDBE0F;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 3vh;
    border: none;
}

.input-group-addon {
    margin-right: 10px;
}

.bgc {
    background-color: $silver;
}

.pagin {
    text-align: center;
}