@import "~bootstrap/scss/bootstrap";

$black: black;
$darkgrey: #424b58; // bleu
$darkgreylight: adjust-color($darkgrey, $lightness: +15%);
$grey: #8d8e91; // gris foncé
$grey2: #aaaaa9;
$brown: #6e6666;
$lightgrey: #ecedee; // gris clair
$dimbluewhite: #f7fafe;
$dimwhite: #f9f9fa;
$white: #ffffff;
$yellow: #fdbe0f; // jaune
$lightyellow: adjust-color($yellow, $lightness: +8%);
$darkyellow: adjust-color($yellow, $lightness: -8%);
$green: #233d38;
$lightGreen: #39B55C;
$danger: #d61515;
$danger_light: adjust-color($danger, $lightness: +50%);
$warning: #ff9c00;
$warning_light: adjust-color($warning, $lightness: +48%);
$success: #29a807;
$success_light: adjust-color($success, $lightness: +62%);
$info: dodgerblue;
$info_light: adjust-color($info, $lightness: +40%);
$off: #727272;
$bronze: #b39672;
$silver: #999fac;
$gold: #d1bb67;
$border: 1px solid rgba($yellow, .5);

.details {
    border: #b39672;
    background: #b39672;
    color: white;
}

.card {
    background-color: $grey2;
}



.bg-ema {
    background: #FDBE0F;
    color: white;
}

.bg-ema-yellow {
    background: $yellow;
    color: black;
}

.border-ema {
    border: 1px solid #424b58;
}

.border-ema-dark {
    border: 1px solid $darkgrey;
}



.btn-hollow:hover {
    background-color: #fdbe0f;
    color: white;
}

.btn-inverted {
    border-color: #424b58;
    color: #424b58;
}

.bg-ema-lightgrey {
    background: $grey;
    color: white;
}

.bg-lightgrey {
    background: $lightgrey;
}

.border-grey {
    border: 1px solid $lightgrey;
}

.text-ema {
    color: $yellow;
}

.text-ema-dark {
    color: $darkgrey;
}

.text-ema-clear {
    color: $lightgrey;
}

.text-ema-grey {
    color: $grey !important;
}

.bg-ema-dark {
    background: $darkgrey;
    color: white;
}

.bg-ema-grey {
    background: #dee2e6;
}

.text-underline {
    text-decoration: underline;
}

.p-none {
    padding: inherit;
}

.pr-60 {
    padding-right: 6rem !important;
}

.pl-3-4 {
    padding-left: 2rem !important;
}

.btn-tristan {
    background: $lightGreen;
    color: white;
}

.btn-ema-yellow {
    background: #FDBE0F;
    color: white;
    height: auto !important;
}

.box-sizing-none {
    box-sizing: inherit !important;
}

.nowrap {
    white-space: nowrap;
}

.btn-ema {
    border: none;
    background-color: transparent;
}

.opacity-50 {
    opacity: 50%;
}

.opacity-60 {
    opacity: 60%;
}

.btn-outline-tristan {
    background: white;
    border: 1px solid $lightGreen;
    color: $lightGreen;
}

.btn-outline-tristan:hover {
    background: $lightGreen;
    color: white;

}

.btn-tristan:hover {
    background: white;
    color: $lightGreen;
    border: 1px solid $lightGreen;
}

.footer {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-color: red;

    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.text-clignote {
    animation-duration: 2s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}



.bandeau-pub {
    background: $lightgrey;
    width: 320px;
}

.degrade {
    background: linear-gradient(to right, #39B55C, $yellow, #EB0404);
    height: 0.5em;
    width: 100%;
    text-align: center;

}