{% extends "base.html.twig" %}


{% block title %}Page non trouvé
{% endblock %}
{% block body %}
	<main class="container">
		<section class="row">
			<div id="col-12">
				<h1>PAGE NON TROUVÉE ERREUR 404</h1>
				<p>La page que vous cherchez n'a pas été trouvée</p>
			</div>
		</section>
	</main>
{% endblock %}
